<div class="modal-header text-right allBackgroundPics">
    <form id="backgroundPictureForm">
        <label for="addBackgroundPicture" class="pull-left">
            <input type="file" id="addBackgroundPicture" name="addBackgroundPicture" onchange="angular.element($('.allBackgroundPics')[0]).scope().afc.addPicture(this);" class="hidden pull-left" accept="image/x-png,image/gif,image/jpeg,image/jpg">
            <i class="material-icons addBPicture">file_upload</i>
            Upload a picture!
        </label>
    </form>
    <button type="button" rel="tooltip" ng-click="afc.cancel()" class="btn btn-danger btn-round btn-fab btn-fab-mini">
        <i class="material-icons">close</i>
    </button>
</div>
<div class="modal-body">
    <div class="row" id="allPictures">
        <div class="col-md-4 col-sm-4 col-xs-4 thumbnail animate-repeat" ng-repeat="singleItem in afc.modalItems | orderBy: '_'">
            <div class="col-md-1 card card-profile picOutFrame">
                <div id="toggle" class="card-raised card-image cardCase animated" data-header-animation="true" ng-click="afc.changeBackground(singleItem)">
                    <a data-title="Lash Girl" class="image">
                        <img id="displayPic " class="displayPic img-rounded" ng-src="{{afc.fixUrl(singleItem.imageUrl)}}" />
                    </a>
                </div>
                <button type="button" rel="tooltip" class="btn btn-danger deletePicture pull-right" ng-click="afc.deletePicture(singleItem, $index)">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

