<div class="tab-pane active" id="password">
    <form class="row passwordForm" id="passwordForm" name="passwordForm" novalidate ng-cloak>
        <h4 class="info-text"> Change Password </h4>
        <div class="form-group"
             ng-class="{ true: 'has-success', false: 'has-error'}[passwordForm.password.$valid || passwordForm.password.required && passwordForm.$submitted]">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock_outline</i>
                </span>
                <br />
                <input name="password"
                       id="password"
                       type="password"
                       placeholder="Password..."
                       ng-model="pc.request.password"
                       password-verify="{{pc.request.confirmPassword}}"
                       required
                       class="form-control flare" />
                <ul id="strength" check-strength="pc.request.password"></ul>
                <span class="text-danger"
                      ng-if="(passwordForm.password.$error.required  && passwordForm.password.$touched && passwordForm.$submitted) || (passwordForm.password.$error.required  && passwordForm.password.$pristine && passwordForm.$submitted)">
                    <em>
                        This field is required!
                    </em>
                </span>
                <span class="text-danger"
                      style="display:block;"
                      ng-if="(pc.request.confirmPassword !== pc.request.password) && passwordForm.$submitted">
                    <em>
                        Passwords must match!
                    </em>
                </span>

            </div>
        </div>
        <div class="form-group"
             ng-class="{ true: 'has-success', false: 'has-error'}[passwordForm.confirmPassword.$valid || passwordForm.confirmPassword.required.$valid && passwordForm.$submitted]">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock_outline</i>
                </span>
                <input name="confirmPassword"
                       id="confirmPassword"
                       type="password"
                       placeholder="Confirm Password..."
                       ng-model="pc.request.confirmPassword"
                       password-verify="{{pc.request.password}}"
                       required
                       class="form-control flare" />
                <span class="text-danger"
                      ng-if="(passwordForm.confirmPassword.$error.required  && passwordForm.confirmPassword.$touched && passwordForm.$submitted) || (passwordForm.password.$error.required  && passwordForm.password.$pristine && passwordForm.$submitted)">
                    <em>
                        This field is required!
                    </em>
                </span>
                <span class="text-danger"
                      ng-if="passwordForm.confirmPassword.$dirty && passwordForm.password.$error.passwordVerify && passwordForm.$submitted">
                    <em>
                        Passwords must match!
                    </em>
                </span>

            </div>
        </div>

        <!--        footer      -->
        <div class="wizard-footer">
            <div class="footer text-center">
                <button type="submit"
                        id="btnSubmit"
                        class="btn btn-rose btn-simple btn-wd btn-lg"
                        ng-click="passwordForm.$valid && pc.submitRcvry()">
                    Let's go
                </button>
            </div>
        </div>
    </form>
</div>
