
/*   follower modal */
.center {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

#followerCard {
    min-height: 176.05px;
    max-height: 176.05px;
    margin-bottom: 30px;
}

    #followerCard div.card.card-product {
        min-height: 176.05px;
        max-height: 176.05px;
        margin-bottom: 30px;
    }

    #followerCard > div.card.card-profile {
        min-height: 176.05px !important;
        max-height: 176.05px;
        margin-bottom: 30px;
        overflow: visible !important;
    }

    #followerCard > img.avatarUrl {
        height: 130px;
    }

    #followerCard > .card.card-profile {
        height: 172px;
    }

        #followerCard > .card.card-profile > .card-avatar.card-image {
            height: 130px !important;
        }

    #followerCard > div.card-content {
        padding-top: 5px !important;
        margin-top: 5px !important;
    }

    #followerCard > div.handle {
        text-align: center;
    }

    #followerCard > div.category.name {
        text-align: center;
        word-break: break-all;
    }

    #followerCard > .name {
        text-align: center;
    }

        #followerCard > .name > .center {
            text-align: center;
        }

    #followerCard > .card-profile .card-avatar {
        height: 113px !important;
        width: 113px;
    }

    #followerCard > .card-profile .card-image img {
        object-fit: cover;
    }

    #followerCard > div.card.card-profile {
        min-height: 165.05px;
        max-height: 165.05px;
        margin-bottom: 30px;
        overflow: visible !important;
    }

div.card-content {
    padding-top: 5px !important;
    margin-top: 5px !important;
}

div.handle {
    text-align: center;
}

div.category.name {
    text-align: center;
    word-break: break-all;
}

#accountForm > div.col-sm-4.col-sm-offset-1 > div.followerDiv.text-center {
    padding-top: 30px;
}

/* follower modal markers*/
#followerMap {
    width: 100%;
    height: 450px;
}

    #followerMap div.gm-style-iw div.tooltip-inner {
        display: none !important;
    }

    #followerMap > div > div > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div > div.gm-style-iw > div:nth-child(1) > div {
        margin-right: 20px !important;
    }

    #followerMap > div > div > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div {
        width: 170px !important;
    }

        #followerMap > div > div > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div > div.gm-style-iw {
            overflow: visible;
            text-align: center !important;
            display: block !important;
            margin-left: auto !important;
            margin-right: auto !important;
            left: 0px !important;
        }

        #followerMap > div > div > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(2) {
            width: 170px !important;
        }

        #followerMap > div > div > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(4) {
            width: 170px !important;
        }

        #followerMap > div > div > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div > div.gm-style-iw > div:nth-child(1) {
            overflow: visible !important;
            text-align: center !important;
            float: none !important;
            margin-left: auto !important;
            margin-right: auto !important;
            width: 170px !important;
        }

            #followerMap > div > div > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div > div.gm-style-iw > div:nth-child(1) > div {
                margin-right: 20px !important;
                float: none;
                margin-left: auto;
                margin-right: auto;
                overflow: visible !important;
            }

    #followerMap .card [data-header-animation="true"] {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }


