<div class="tab-pane active row" id="comments">
    <div class="row comments">
        <div class="center">
            <h2></h2>
        </div>
        <div class="col-md-8 col-md-offset-2 center row" ng-class="{'text-center':commentsCtrl.noComments}">
            <div class="row commentsRow"
                 ng-repeat="comment in commentsCtrl.comments | limitTo:commentsCtrl.commentLimit track by $index"
                 ng-include="'/Scripts/app/templates/comments/commentTemplate.html'">
            </div>
            <button type="button" class="btn btn-round btn-primary center pull-right" ng-hide="commentsCtrl.noMoreComments" ng-click="commentsCtrl.showMoreComments(commentsCtrl.comments)">Show More Comments</button>
            <button type="button" class="btn btn-round btn-primary center" ng-show="commentsCtrl.noMoreComments && commentsCtrl.comments" ng-click="commentsCtrl.showLessComments(commentsCtrl.comments)">Show Less Comments</button>
            <button type="button" class="btn btn-round btn-primary center" ng-show="commentsCtrl.noComments" disabled>No Comments</button>
        </div>
    </div>
    <h3 class="title text-center">Post your comment</h3>
    <div class="media media-post">
        <div class="col-md-8 col-md-offset-2">
            <a class="pull-left author" href="">
                <div class="avatar">
                    <img class="media-object img-responsive" alt="64x64" ng-cloak ng-src="{{commentsCtrl.currentUserAvatar}}">
                </div>
            </a>
            <div class="media-body">
                <textarea class="form-control" ng-model="commentsCtrl.commentDescription" placeholder="Write your comment here..." id="commentInput" rows="2"></textarea>
                <div class="media-footer">
                    <span class="btn btn-primary btn-round btn-wd pull-right btnPostComment" ng-click="commentsCtrl.submitComment()">Post Comment</span>
                </div>
            </div>
        </div>
    </div>
</div>
